header, main, .placeholder {
    position: relative; /* crucial for z-index to work */
  }
  
  header, main { 
    z-index: 10; 
  }
  
  .placeholder {
    z-index: 1;
    height: 177px; /* same as footer height */
  }
  
  footer {
    position: fixed;
    bottom: 0;
    z-index: 5;
    height: 177px; 
  }